
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.title{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 85px;
    background-color:#F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    color: #004E7C;
    
    
}

section{
    width: 65%;
    margin: 6.5rem auto 0;
  

}

.sidetabs{
    list-style: none;
    display: flex;
  
    justify-content: space-around;
    margin-bottom: 3rem;
}
.sidetabs li{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #5C5F58
    

}

.sidetabs li:hover{
    color: #004E7C;;

}
.sidetabs li::after{
    content: "";
    position: absolute;
    bottom:-20%;
    left: -3%;
    width: 0%;
    height: 5px;
    background: #004E7C;
    border-radius: 30px;
    transition: width .8s ease;
    
}
.sidetabs li.active::after{
    width:107%;


}
.content{
   
     /* position: absolute;
    top:0;
    left:0; */
    display:none; 

}
.content.active{
    
    display:block;
    animation: fade 1s ease;
   
}
.content p{
    text-align: center;
    

}
.container{
  
    position: relative;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#generalbox{
    margin-top: 10vh;
    background-color: #F3F3F3;
    padding-bottom: 50vh;
    box-shadow: 0 0 10px 4px rgba(0, 4, 15, 0.418);
}
#generalbox2{
    margin-top: 10vh;
    background-color:#004E7C;
    padding-bottom: 50vh;
    box-shadow: 0 0 10px 4px rgba(0, 4, 15, 0.418);
    
}

.buttonbox{
display: flex;
justify-content: center;
align-content: center;
padding: 1rem;
}

.open-button {

    background-color: #0072b4;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  display: flex;

}

.open-button:hover{
   background-color: #019af3;
   animation: rotate 0.7s  ease-in-out both;
}
  
  #form-popup {
    display: none;
    transform: translate(-50%,-50%) scale(0);
    transition: 250ms ease-in-out;
    position: fixed;
   top: 50%;
   left:50%;
   transform:translate(-50%,-50%);
    border: 3px solid #f1f1f1;
    z-index: 10;
    background-color: white;

   
  }
  #form-popup.active{
    transform: translate(-50%,-50%) scale(1);
}
  
 
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
 
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  .form-container .btn {
    background-color:  #004E7C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  

  .form-container .cancel {
      
    background-color: red;
  }
  .form-container .cancel:hover{
    animation: rotate 0.7s  ease-in-out both
  }
  .form-container .btn:hover{
    animation: rotate 0.7s  ease-in-out both
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  #overlay{
      position: fixed;
      transition: 250ms ease-in-out;
      opacity: 0;
      top:0;
      left: 0;
      right: 0;
      bottom:0;
      background-color: rgba(0,0,0,.5);
      pointer-events: none;
  }


  #overlay.active{
      opacity: 1;
      pointer-events: all;

  }
 .textarea{
     background-color:#dddddd;
     color:#666666;
     padding:1em;
     border-radius: 10px;
     border:2px solid transparent;
     resize: none;
     height: 200px;
     width: 280px;
 }
 .h1pop{
     display: flex;
  justify-content: center;
  padding-bottom:10px;
  color: #004E7C;

 }

 .h1pop:hover{


    animation: rotate 0.7s  ease-in-out both;
  }
  
  @keyframes rotate
  {
    0%
  {
  transform: rotate(0deg) translate3d(0,0,0);
  }
  25%
  {
  transform: rotate(3deg) translate3d(0,0,0);
  } 50%
  {
  transform: rotate(-3deg) translate3d(0,0,0);
  } 75%
  {
  transform: rotate(1deg) translate3d(0,0,0);
  }  100%
  {
  transform: rotate(0deg) translate3d(0,0,0);
  }
  }
.date{
    margin-top:1rem;
    margin-bottom: 1rem;
}
  .priority {
margin-top: .5rem;
    margin-bottom: 2rem;
    background-color: #666666;
    padding: 1rem;
  }
  .low{
    color: rgb(9, 211, 9);
   
  }
  .medium{

    color:yellow;
    

  }
  .high{
    color: rgb(255, 0, 0);
  }
  #todolist{
    
    background-color: #004E7C;
    display: flex;
    justify-content: space-between;
    
    box-shadow: 0 0 3px 1px rgba(0, 4, 15, 0.418);
    padding: 1rem;
    margin: 2rem;
   

  }


  #todolist:hover{
    background-color: #008ddf;
    
  }
  .todotitle{
   
    color: white;
  
    
    
  }
  .todobtn{
    background-color: #0072b4;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    
  }
#todos{
  
  float:right;
}
.todobtn:hover{
  background-color: #00a2ff;
}

#todolist p{
display: flex;
  font-size: 20px;
  align-items: center;
  
}
.detailbtn{
  background-color: #0072b4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.detailbtn:hover{
  background-color: #00a2ff;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50vh; 
  height: 25vh;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalcontents{
  padding:1.5rem;
  font-family: 'Mouse Memoirs', sans-serif;
  color: #004E7C;
  font-size: x-large;
}